<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<div class="jumbotron">
  <h2>Request Header Parser Microservice</h2>
  <p>A project for the <a href="https://www.freecodecamp.com/challenges/request-header-parser-microservice">Freecodecamp</a> curriculum.</p>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <h3>Objective: </h3>
    <p>Build a full stack JavaScript app that is functionally similar to <a href="https://cryptic-ridge-9197.herokuapp.com/api/whoami/">this</a> and deploy it to Heroku.</p>
  </div>
  <div class="col-sm-4">
    <h3>User Story:</h3>
    <p> I can get the IP address, language and operating system for my browser.</p>
  </div>
  <div class="col-sm-4 col-sm-offset-5">
    <a type="button" class="btn btn-default" href="/whoami">Get Request headers</a>
  </div>
</div>
<footer>
  Find/fork me on <a href="https://github.com/arialblack14/request-header-parser-microservice">Github</a>.
</footer>
</div>

</body>
</html>
